:root {
  --body-bg: #222;
  --color-bg: #fff200;
  --color-form: #969494;
  --color-buton: #6a6868;
  --color-white: #fff;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px solid var(--body-bg);
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--body-bg);
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 600px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* BUTTON */
.button {
  padding: 0;
  border: 0;
  color: var(--color-buton);
  background-color: transparent;
  transition: color 0.4s ease;
}

.button:hover {
  color: #000;
}

.button:active {
  opacity: 0.6;
}

/* FORM */
.account-form {
  background-color: var(--color-bg);
  padding: 60px 60px 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-heading-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.account-form-heading {
  padding: 0;
  margin: 0;
  margin-right: 212px;
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
}

.close-button {
  width: 20px;
  height: 20px;
  margin: 0;
}

.close-button-icon {
  width: 20px;
  height: 20px;
}


/* FORM-FIELDS */
.form-fields {
  position: relative;
  min-width: 500px;
  padding: 60px 40px 50px;
  margin-bottom: 60px;
  background-color: var(--color-white);
  box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.4);
}

.form-fields-img {
  position: absolute;
  top: -30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  object-position: -12px;
}

.form-label {
  font-size: 14px;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-form);
}

.form-group:not(:last-child) {
  margin-bottom: 20px;
}

.form-field:focus {
  outline: none;
}

.form-field {
  width: 100%;
  font-size: 16px;
  line-height: 12px;
  font-weight: 600;
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  border: 0;
  border-bottom: 1px solid var(--color-form);
}

.form-group-wrapper {
  display: flex;
}

.form-field-textarea {
  min-height: 120px;
  resize: vertical;
}

.form-save-buttons-wrapper {
  display: flex;
  justify-content: end;
}

.cancel-button {
  margin-right: 40px;
}
